<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/output/static/js/index.bundle.js"></script>
</head>
<body>
    <header>
        <h1 align="center">lalaljjj</h1>
    </header>
    <div>
        <aside>
            <ul>
                <li><a data-pjax href="./test1.html">test1</a></li>
                <li><a data-pjax href="./test2.html">test2</a></li>
            </ul>
        </aside>
        <article id="container">

        </article>
    </div>
    <script>
        $(document).pjax('a', '#container');
    </script>
<script type="text/javascript" charset="utf-8" src="http://10.70.7.192:8132/livereload.js"></script><script type="text/javascript" charset="utf-8" src="http://10.70.7.192:8132/livereload.js"></script></body>
</html>