/*
*  color variables
*/
@charset "utf-8";
$globalBgColor:#fff;
$leftNavBgColor:#1A1F21;
$themeColor:#7FB2CD;
$rightColor:#00994F;
$secondThemeColor:#EF7800;
$rightBgColor:#F5F5F5;
$commonFontColor:#2c3033;
$deepGreyFontColor:#7e8589;
$GreyFontColor:#899195;
$orangeFontColor:#EF7800;
$showBtnBorderColor:#d0d7d9;
$commonInputSelectBorderColor:#d0d7d9;
$firstNavColor:#7eb2cd;
$secondActiveBg:#282e31;
$firstSecondBorderColor:#282e31;
$verifyFontColor:#F06D6D;
$otherMsgBg:#E5F6FE;
$navLineColor:#464B4D;