//一些按钮，文本框等的长宽，圆角框
$smallBtnHeight:38px;
$longBtnWidth:130px;
$tallBtnHeight:42px;
$shortBtnWidth:90px;
$smallerBtnHeight:32px;
$btnBorderRadius:6px;
$btnCommonDisRight:20px;
$commonFormControlDis:70px;
$commonFormControlDisBottom:10px;
$commonFormLabelDisEle:10px;
$commonInputSelectBorderRadius:6px;
$commonInputSelectWidth:272px;
$commonInputSelectHeight:42px;
$smallInputSelectHeight:32px;
$contentPaddingTopButtom:30px;
$contentPaddingLeftRight:20px;
$leftNavWidth:180px;//原本150px
$firstNavHeight:50px;//原本60px
$secondNavHeight:40px;//原本45px
$msgHeight:45px;
$topBtnGroupHeight:36px;
$btnGroupWidth:100px;
$tableCellHeight:44px;
$hrMarginTop:1px;//18px
$waveHeight:100px;